html {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: #293264;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
  width: 100vw;
  background-color: #F5F7FB;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome,
.quiz {
  flex: 1;
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button.start,
button.end {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border-radius: 1rem;
  border-style: none;
  margin: 0 auto;
}

button.start {
  font-size: 1.5rem;
  padding: 1rem 3rem;
}

button.end {
  font-size: 1.25rem;
  padding: 0.75rem 2rem;
  margin: 2rem auto 2rem auto;
}

.results>button.end {
  margin: 2rem 0 2rem auto;
}

.question {
  width: 100%;
  justify-content: left;
  padding-bottom: 1rem;
  border-bottom-color: #DBDEF0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

p.single-question {
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.answers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.summary {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.25rem;
  height: 4rem;
  margin: 1rem auto 0.25rem auto;
}

.summary.results {
  justify-content: right;
}

h1 {
  font-size: 4rem;
}

.credits {
  flex-shrink: 0;
}

.loader {
  margin-top: 2rem;
  border: 0.25rem solid #F5F7FB;
  border-top: 0.25rem solid #4D5B9E;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1.4s linear infinite;
}

.hidden {
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}