.summary {
   width: 60%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   font-size: 1.25rem;
   height: 4rem;
   margin: 1rem auto 0.25rem auto;
}

.summary.results {
   justify-content: right;
}

.results>button.end {
   margin: 2rem 0 2rem auto;
}

@media only screen and (max-width: 720px) {
   .summary {
      font-size: 1rem;
      margin-bottom: 1rem;
      width: 90%;
   }

   .summary.results {
      flex-direction: column;
      justify-content: center;
      height: 8rem;
   }

   .results>button.end {
      margin: 1rem auto 2rem auto;
   }
}